<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Alexandre_Silva.Sample_Custom_Renderer">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Sample Custom Renderer">
	</application>
</manifest>
